<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <h1 class="text-h4 mt-6">{{ service.name }}</h1>
      <p class="font-weight-light text-sm-body-2">Lorem ipsum dolor sit amet</p>
      <p class="mb-4">24 euro / hour</p>
      <form class="service-form">
        <v-text-field outlined :value="picker" @click="pickerVisible = true" color='black'></v-text-field>
        <v-card v-if="pickerVisible" class="picker-container">
          <v-btn icon class="close-picker" @click="pickerVisible = false"
            ><v-icon color="white">mdi-close</v-icon></v-btn
          >
          <v-date-picker
            @click.self="pickerVisible = false"
            v-model="picker"
            :landscape="landscape"
            :reactive="reactive"
          ></v-date-picker>
        </v-card>
        <v-text-field outlined label="Address"></v-text-field>
        <v-text-field outlined label="Email"></v-text-field>
        <v-text-field outlined label="Phone"></v-text-field>
        <v-checkbox
          v-model="selected"
          label="bring own cleaning utensils"
          value="Jacob"
          dense
        ></v-checkbox>
        <v-btn large dark to="/thanks" class="my-4" color='primary'>Order service now!</v-btn>
        <v-btn depressed large to="/" class="ml-2">Back</v-btn>
      </form>
    </v-col>
  </v-row>
</template>
<script>
export default {
  layout: 'banner',
  data() {
    return {
      service: {
        name: '',
      },
      selected: false,
      pickerVisible: false,
      picker: new Date().toISOString().substr(0, 10),
      landscape: false,
      reactive: false,
    }
  },
  mounted() {
    this.service.name = this.$router.history.current.params.id.replace('-', ' ')
  },
}
</script>
<style scoped lang="scss">
h1:first-letter {
  text-transform: capitalize;
}
.service-form {
  position: relative;
}
.picker-container {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  .close-picker {
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 10px;
  }
}
</style>
