<template>
  <v-row justify="center" align="center" class="h-full">
    <v-col cols="12" sm="8" md="6">
      <h1 class="text-h4 text-center mb-10">Pick a service</h1>
      <div class="service-cards">
        <v-card
          elevation='3'
          class="service-card pa-2 d-flex align-center justify-center py-8 px-4 blue-grey lighten-5"
          v-for="service in services"
          :key="service.id"
          @click="openService(service)"
        >
          <p class="d-block text-center ma-0 text-h6 black--text">{{ service.name }}</p>
        </v-card>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'select-service',
  data() {
    return {
      services: [
        { id: 'clean-house', name: 'Clean house' },
        { id: 'clean-restrooms', name: 'Clean restrooms' },
        { id: 'clean-apartment', name: 'Clean apartment' },
        { id: 'clean-offices', name: 'Clean offices' },
      ],
    }
  },
  methods: {
    openService(service) {
      this.$router.push('/services/' + service.id)
    },
  },
}
</script>

<style lang="scss" scoped>
.service-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.6rem;

  .service-card {
    flex-basis: 46%;
    max-width: 50%;
    text-align: center;
  }
}
</style>
