<script>
export default {
  name: 'grid',
  props: ['fields', 'items', 'name'],
  data() {
    return {
      editItem: false,
      itemDetail: false,
      selectedItem: null,
      dialog: false,
      newItem: {},
    }
  },
  created() {
    this.createNewItemObject()
  },
  methods: {
    selectItem: function(customer) {
      this.selectedItem = customer
    },
    deleteItem: function(index) {
      this.items.splice(index, 1)
    },
    addItem: function() {
      this.items.push(this.newItem)
      this.createNewItemObject()
    },
    createNewItemObject: function() {
      this.fields.forEach((field) => {
        this.newItem = { ...this.newItem, ...{ [field.label]: null } }
      })
    },
  },
}
</script>

<template>
  <div>
    <h1 class='mb-5'>
      {{ name }}s
      <v-btn small fab color='primary' @click='dialog = true'>
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </h1>

    <v-dialog v-model='dialog' persistent max-width='650px'>
      <v-card>
        <v-card-title>
          <span class='text-h5 px-3 my-6'>Create a new {{ name }}</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col>
                <v-text-field v-for='field in fields' outlined :label='field.name' v-model='newItem[field.label]'
                              required />
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed large color='transparent' class='mb-10' @click='dialog = false'> Close</v-btn>
          <v-btn large dark color='primary' class='mb-10' @click='addItem(); dialog = false'> Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class='text-left' v-for='field in fields'>
            {{ field.name }}
          </th>
          <th>
            Actions
          </th>
        </tr>
        </thead>
        <tbody>
        <tr
          v-for='(item, index) in items'
          :key='item.name'
        >
          <td v-for='field in fields'>{{ item[field.label] }}</td>
          <td>
            <v-btn class='mr-2' fab x-small color='primary'
                   @click='editItem = true; itemDetail = false; selectItem(item);'>
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
            <v-btn class='mr-2' fab x-small color='primary'
                   @click='itemDetail = true; editItem = false; selectItem(item);'>
              <v-icon>mdi-eye</v-icon>
            </v-btn>
            <v-btn fab x-small color='error' @click='deleteItem(index)'>
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>

    <v-navigation-drawer v-model='editItem' right width='420' fixed app>
      <div class='text-right my-6'>
        <v-btn icon class='close-drawer mr-6' @click='editItem = false'>
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

      <div class='px-6' v-if='selectedItem'>
        <v-text-field v-for='field in fields' outlined :label='field.name' v-model='selectedItem[field.label]' />
        <v-btn color='primary' @click='editItem = false'>Save & Close</v-btn>
      </div>
    </v-navigation-drawer>

    <v-navigation-drawer v-model='itemDetail' right width='420' fixed app>
      <div class='text-right my-6'>
        <v-btn class='mr-2' color='primary'
               @click='itemDetail = false; editItem = true; selectItem(selectedItem);'>
          <v-icon left>mdi-pencil</v-icon>
          Edit
        </v-btn>
        <v-btn icon class='close-drawer mr-6' @click='itemDetail = false'>
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </div>

      <div class='px-6' v-if='selectedItem'>
        <v-list two-line>
          <v-list-item v-for='field in fields'>
            <v-list-item-content>
              <v-list-item-title>{{ field.name }}</v-list-item-title>
              <v-list-item-subtitle>{{ selectedItem[field.label] }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>
        <slot />
      </div>
    </v-navigation-drawer>
  </div>
</template>
