<template>
  <v-dialog v-model="dialog" persistent max-width="650px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="primary" dark v-bind="attrs" v-on="on"><v-icon left>mdi-plus</v-icon> Create task </v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="text-h5 px-3 my-6">Create a new task</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field outlined required color='black' label="Task title"> </v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-card-title>
              <span class="text-h6 mt-6 black--text">Customer details</span>
            </v-card-title>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field outlined label="Name" color='black' required />
              <v-text-field outlined label="Address" color='black'></v-text-field>
              <v-text-field outlined label="Phone" color='black'></v-text-field>
              <v-text-field outlined label="Email" color='black' required></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-card-title>
              <span class="text-h6 mt-4 black--text">Task details</span>
            </v-card-title>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field outlined label="Deadline" color='black' required></v-text-field>
              <v-select
                outlined
                color="black"
                :items="['Noah Oliver', 'Elijah James', 'Emma William']"
                label="Assignee"
              ></v-select>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn depressed large color="transparent" class='mb-10' @click="dialog = false"> Close </v-btn>
        <v-btn large dark color="primary" class='mb-10' @click="dialog = false"> Save </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'TaskEdit',
  data() {
    return {
      dialog: false,
      task: {
        id: Date.now(),
        title: '',
        customer: {
          name: '',
          address: '',
          phone: '',
          email: '',
        },
        assignee: '',
        status: 'pending',
        creationDate: Date.now(),
        deadline: '',
        comments: [],
      }
    }
  },
}
</script>

<style scoped></style>
