<template>
  <v-app dark>
    <v-main>
      <v-parallax
        height="250"
        class='grey'
        src="https://cdn.vuetifyjs.com/images/backgrounds/vbanner.jpg"
      ></v-parallax>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>
<script>
export default {
  name: 'banner',
  data () {
    return {
      fixed: false,
      miniVariant: false,
    }
  }
}
</script>
<style scoped>
.grey {
  filter: grayscale(0%);
}
</style>
