<template>
  <v-app dark>
    <v-app-bar fixed app>
      <v-app-bar-nav-icon @click='drawer = true'></v-app-bar-nav-icon>
      <div class='logo'>
        <nuxt-link to='/'>
          Organise You
        </nuxt-link>
      </div>
    </v-app-bar>
    <v-navigation-drawer
      v-model='drawer'
      absolute
      temporary
    >
      <v-list
        nav
        dense
      >
        <v-list-item-group
        >
          <v-list-item to='/dashboard'>
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Orders</v-list-item-title>
          </v-list-item>

          <v-list-item to='/dashboard/customers'>
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Customers</v-list-item-title>
          </v-list-item>

          <v-list-item to='/dashboard/employees'>
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Employees</v-list-item-title>
          </v-list-item>

          <v-list-item to='/dashboard/resources'>
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Resources</v-list-item-title>
          </v-list-item>

          <v-list-item to='/dashboard/freelancers'>
            <v-list-item-icon>
              <v-icon>mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title>Freelancers</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'dashboard',
  data: () => ({
    drawer: false,
  }),
}
</script>

<style lang='scss' scoped>
.logo {
  a {
    text-decoration: none;
    font-weight: bold;
  }
}
</style>
