<template>
  <v-row justify="center" align="center" class="h-full">
    <v-col cols="12" sm="6" md="4">
      <div v-if="guest">
        <form>
          <h1 class="text-h4 mb-8 ">Login</h1>
          <v-text-field outlined :rules="rules" class="mb-4" label="Email" color="primary"></v-text-field>
          <v-btn large depressed class="mr-2" @click="guest = false">Back</v-btn>
          <v-btn large dark color="primary" to="/services" nuxt>Next</v-btn>
        </form>
      </div>
      <div v-else>
        <h1 class="text-h4 text-center mb-10 font-weight-bold">OrganiseYou</h1>
        <v-btn x-large dark block color="#4267B2" class="my-4" to='/services'><v-icon left>mdi-facebook</v-icon>Facebook</v-btn>
        <v-btn x-large dark block color="#DB4437" class="my-4" to='/services'><v-icon left>mdi-google</v-icon>Google</v-btn>
        <v-btn x-large dark block color="#00A4EF"  class="my-4" to='/services'><v-icon left>mdi-microsoft</v-icon>Microsoft</v-btn>
        <v-btn x-large outlined block class="my-4" to='/services'>Guest</v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'login',
  data() {
    return {
      guest: false,
      rules: [
        (value) => !!value || 'Required.',
        (value) => (value || '').length <= 20 || 'Max 20 characters',
        (value) => {
          const pattern =
            /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
          return pattern.test(value) || 'Invalid e-mail.'
        },
      ],
    }
  },
}
</script>

<style scoped></style>
