<template>
  <v-row justify='center' align='center' class='h-full'>
    <v-col cols='12' sm='6' md='4'>
      <div class='user-icon d-flex justify-center mb-10'>
        <div class='icon-circle rounded-circle blue-grey lighten-5 pa-3'>
          <v-icon size='60' color='black'>mdi-account</v-icon>
        </div>
      </div>
      <h1 class='text-h4 text-center font-weight-bold mb-6'>Your orders</h1>
      <v-card elevation='2' v-for='order in orders' :key='order.id' class='mb-4'>
        <v-card-title class='text-h6'>Order #{{ order.id }}</v-card-title>
        <v-card-text
        >status: <strong>{{ order.status }}</strong></v-card-text
        >
      </v-card>
      <v-btn large to='/services' class='mt-4' color='primary'>New order</v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'orders',
  data() {
    return {
      orders: [
        { id: '123', status: 'pending' },
        { id: '124', status: 'approved' },
        { id: '125', status: 'pending' },
      ],
    }
  },
}
</script>

<style scoped></style>
