<template>
  <v-row justify="center" align="center" class="h-full">
    <v-col cols="12" sm="8" md="6">
      <h1 class="text-h4 text-center mb-10">Thank You<br>
      for your order</h1>
      <p class="text-center">Order status: <b>pending</b></p>
      <div class="d-flex justify-center my-10">
        <v-btn large dark color="primary" to="/orders">Show all orders</v-btn>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'thanks',
}
</script>

<style scoped></style>
