<script>
import Grid from '../../components/Grid'

export default {
  name: 'orders',
  components: { Grid },
  layout: 'dashboard',
  data: () => ({
      fields: [
        { label: 'name', name: 'Name' },
        { label: 'surname', name: 'Surname' },
        { label: 'email', name: 'Email' },
        { label: 'address', name: 'Address' },
      ],
      items: [
        {
          name: 'Bogdan',
          surname: 'Chayka',
          email: 'bogdanchayka@outlook.com',
          address: 'In der Kreuzau 4, 51105 Köln',
        },
        {
          name: 'Matt',
          surname: 'Luedtke',
          email: 'matt@nexoft.io',
          address: 'In der Kreuzau 4, 51105 Köln',
        },
        {
          name: 'Nadiia',
          surname: 'Klovanych',
          email: 'nadiia@nexoft.io',
          address: 'In der Kreuzau 4, 51105 Köln',
        },
      ],
    }
  ),
}
</script>

<template>
  <Grid :fields='fields' :items='items' name='Customer' />
</template>
