<script>
import Grid from '../../components/Grid'

export default {
  name: 'orders',
  components: { Grid },
  layout: 'dashboard',
  data: () => ({
      fields: [
        { label: 'name', name: 'Name' },
        { label: 'surname', name: 'Surname' },
        { label: 'email', name: 'Email' },
        { label: 'salary', name: 'Salary' },
        { label: 'address', name: 'Address' },
        { label: 'eyecolor', name: 'Eyecolor' },
        { label: 'haircolor', name: 'Haircolor' },
      ],
      items: [
        {
          name: 'Peter',
          surname: 'Griffin',
          email: 'griffin@outlook.com',
          salary: '5000 EUR',
          address: 'Southpark 5, Colorado',
          eyecolor: 'blue',
          haircolor: 'brown'
        },
        {
          name: 'Max',
          surname: 'Freiheit',
          email: 'max@nexoft.io',
          salary: '2000 EUR',
          address: 'Blingenau 5, 51105 Köln',
          eyecolor: 'green',
          haircolor: 'blonde'
        },
        {
          name: 'Viktoria',
          surname: 'Terentieva',
          email: 'viktoria@nexoft.io',
          salary: '3000 EUR',
          address: 'Linsemann 2, 51105 Köln',
          eyecolor: 'brown',
          haircolor: 'blue'
        },
      ],
    }
  ),
}
</script>

<template>
  <Grid :fields='fields' :items='items' name='Employee' />
</template>
