<script>
import Grid from '../../components/Grid'

export default {
  name: 'orders',
  components: { Grid },
  layout: 'dashboard',
  data: () => ({
      fields: [
        { label: 'name', name: 'Name' },
        { label: 'surname', name: 'Surname' },
        { label: 'email', name: 'Email' },
        { label: 'salary', name: 'Salary' },
      ],
      items: [
        {
          name: 'Peter',
          surname: 'Griffin',
          email: 'griffin@outlook.com',
          salary: '30 EUR / hr',
        },
        {
          name: 'Max',
          surname: 'Freiheit',
          email: 'max@nexoft.io',
          salary: '50 EUR / hr',
        },
        {
          name: 'Viktoria',
          surname: 'Terentieva',
          email: 'viktoria@nexoft.io',
          salary: '60 UER / hr',
        },
      ],
    }
  ),
}
</script>

<template>
  <Grid :fields='fields' :items='items' name='Freelancer' />
</template>
