<template>
  <v-app dark>
    <v-navigation-drawer v-model='drawer' :right='right' width='420' fixed app>
      <v-list-item class='mb-6 px-6'>
        <v-list-item-content v-if='selectedTask.customer'>
          <v-btn icon color='black' class='close-drawer mr-6' @click='drawer = false'>
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-list-item-title class='text-h4 my-6'> {{ selectedTask.title }}</v-list-item-title>
          <v-list-item-subtitle> {{ selectedTask.customer.address }}</v-list-item-subtitle>
          <v-list-item-subtitle> {{ selectedTask.customer.email }}</v-list-item-subtitle>
          <v-list-item-subtitle> {{ selectedTask.customer.phone }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-divider class='mb-10'></v-divider>
      <div class='px-6'>
        <div class='d-flex'>
          <v-select
            color='black'
            outlined
            v-model='selectedTask.assignee'
            :items="['Noah Oliver', 'Elijah James', 'Emma William']"
            label='Assignee'
          ></v-select>
        </div>
        <div class='d-flex'>
          <v-btn dark color='success' class='mr-4' @click="selectedTask.status = 'Approved'">Approve</v-btn>
          <v-btn dark color='error' @click="selectedTask.status = 'Canceled'">Cancel</v-btn>
        </div>
        <v-divider class='my-10'></v-divider>
        <h2 class='text-h5 mb-5'>Comments</h2>
        <div class='input-group'>
          <v-text-field v-model='textComment' outlined color='black' label='Add a comment' @keyup.enter='createComment'>
          </v-text-field>
          <v-btn elevation='0' class='input-btn' large color='transparent' @click='createComment'>Add</v-btn>
        </div>
        <div v-if='selectedTask.comments'>
          <v-card small class='my-4 pa-2' v-for='comment in selectedTask.comments' :key='comment.id'>
            <v-card-title class='py-0'>{{ comment.author }}</v-card-title>
            <v-card-text class='py-0'>{{ comment.text }}</v-card-text>
          </v-card>
        </div>
      </div>
    </v-navigation-drawer>

    <div class='d-inline my-10'>
      <TaskEdit></TaskEdit>
    </div>
    <h1>Orders</h1>
    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class='text-left'>Title</th>
          <th class='text-left'>Customer</th>
          <th class='text-left'>Assignee</th>
          <th class='text-left'>Status</th>
          <th class='text-left'>Created</th>
          <th class='text-left'>Deadline</th>
          <th class='text-left'></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for='task in tasks' :key='task.id'>
          <td>{{ task.title }}</td>
          <td>{{ task.customer.name }}</td>
          <td>{{ task.assignee }}</td>
          <td>{{ task.status }}</td>
          <td>{{ task.creationDate }}</td>
          <td>{{ task.deadline }}</td>
          <td>
            <v-btn fab x-small color='primary' @click='selectTask(task)'>
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>
  </v-app>
</template>

<script>
import TaskEdit from '../../components/TaskEdit'

export default {
  name: 'index',
  components: { TaskEdit },
  layout: 'dashboard',
  data() {
    return {
      drawer: false,
      tasks: [
        {
          id: 1,
          title: 'Clean house',
          customer: {
            name: 'Johnny Depp',
            address: 'Green st 43, 56878, Cologne',
            phone: '088 355 888 77',
            email: 'email@mail.com',
          },
          assignee: 'Jolie',
          status: 'pending',
          creationDate: '06/06/22',
          deadline: '06/06/22',
          comments: [],
        },
        {
          id: 2,
          title: 'Clean everything',
          customer: {
            name: 'Vasya',
            address: 'Green st 43, 56878, Cologne',
            phone: '088 355 888 77',
            email: 'email@mail.com',
          },
          assignee: 'Jolie',
          status: 'pending',
          creationDate: '06/06/22',
          deadline: '06/06/22',
          comments: [],
        },
        {
          id: 3,
          title: 'Clean house',
          customer: {
            name: 'Johnny Depp',
            address: 'Green st 43, 56878, Cologne',
            phone: '088 355 888 77',
            email: 'email@mail.com',
          },
          assignee: 'Jolie',
          status: 'pending',
          creationDate: '06/06/22',
          deadline: '06/06/22',
          comments: [],
        },
      ],
      selectedTask: {},
      right: true,
      rightDrawer: false,
      title: 'OrganiseYou',
      textComment: '',
    }
  },
  methods: {
    selectTask(task) {
      this.drawer = true
      this.selectedTask = task
    },
    createComment() {
      let comment = {
        id: Date.now(),
        text: this.textComment,
        author: 'User',
      }
      if (this.textComment.length) {
        this.selectedTask.comments.push(comment)
      }
      this.textComment = ''
    },
  },
}
</script>

<style lang='scss' scoped>
.close-drawer {
  position: absolute;
  right: 0;
  top: 40px;
}

.input-group {
  display: block;
  position: relative;

  .input-btn {
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 12px;
  }
}


</style>
