<script>
import Grid from '../../components/Grid'

export default {
  name: 'orders',
  components: { Grid },
  layout: 'dashboard',
  data: () => ({
      fields: [
        { label: 'title', name: 'Title' },
        { label: 'unit', name: 'Unit' },
        { label: 'cost', name: 'Cost' },
      ],
      items: [
        {
          title: 'Pulver',
          unit: 'g',
          cost: 20
        },
        {
          title: 'Desinfectant',
          unit: 'ml',
          cost: 50
        },
      ],
    }
  ),
}
</script>

<template>
  <Grid :fields='fields' :items='items' name='Resource' />
</template>
